@use "sass:color";

$primary-light: #a10eec;
$accent-light: #fd1999;
$foreground-light: #2f323a;
$card-light: #eff1f3;
$background-light: #435058;

$primary-dark: #33658a;
$accent-dark: #1ac8ed;
$foreground-dark: #eff1f3;
$card-dark: #435058;
$background-dark: #2f323a;

$breakpoint-phone: 500px;
